body {
    text-align: center;
    background: #fff;
    margin: 20%;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.targetCell {
    background: #05319f;
}

.cell {
    width: 100%;
    max-width: 40px;
    height: 5vh;
    border: solid 1px black;
}

.player {
    background-image: url("../images/sprite.png");
    background-repeat: no-repeat;
    width: 100%;
    max-width: 8vh;
    height: 2.1rem;
}

.direction-down {
    transform: rotate(90deg);
    background-position: 0 -64px;
}

.direction-left {
    transform: rotate(180deg);
    background-position: 0 -63px;
}

.direction-up {
    transform: rotate(-90deg);
    background-position: 0px -64px;
}

.direction-right {
    transform: rotate(0deg);
    background-position: 0 -64px;
}

.messageFlashEndGame {
    background-color: #05319f;
    font-size: 1.5rem;
    color: white;
    line-height: 40px;
    text-align: center;
}

#gameControllers {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    width: 200px;
    margin: 0 auto;
}

#ArrowUp,
#ArrowLeft,
#ArrowRight {
    grid-column: 1/3;
    width: 80px;
    text-align: center;
    margin: 1rem auto;
    color: white;
    background: #05319f;
}

#ArrowLeft {
    grid-column: 1;
}

#ArrowRight {
    grid-column: 2;
}

@media screen and (min-width:315px) {
    .player {
        width: 4vh;
    }

    .cell {
        max-width: 30px;
    }
}

@media screen and (min-width:760px) {
    .cell {
        max-width: 70px;
    }

    .player {
        width: 8vh;
    }

    .direction-down {
        transform: rotate(90deg);
        background-position: 30px -64px;
    }

    .direction-left {
        transform: rotate(180deg);
        background-position: 25px -63px;
    }

    .direction-up {
        transform: rotate(-90deg);
        background-position: 15px -64px;
    }

    .direction-right {
        transform: rotate(0deg);
        background-position: 20px -64px;
    }
}

@media screen and (min-width:900px) {
    .direction-down {
        background-position: 29px -64px;
    }

    .direction-left {
        background-position: 37px -63px;
    }
}

@media screen and (min-width:1280px) {
    .direction-left {
        background-position: 20px -63px;
    }

    .direction-down {
        background-position: 18px -64px;
    }
}